/* BASIC STYLING */
.fontstyleMain {
    font-family: "urbanist", sans-serif;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    text-align: center;
}

h3 {
    color: #9987BD;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #9987BD;
    /* CODE REFERENCES https://www.dotnettricks.com/learn/stylesheet/css-to-force-long-text-and-urls-to-wrap-on-all-browser#:~:text=Sometimes%20we%20need%20to%20wrap%20a%20long%20text,line%20by%20defining%20css%20word-wrap%20property%20to%20break-word. */
    word-wrap: break-word;
}

a:hover, a:focus {
    text-decoration: underline;
}

.inputField {
    outline: 0;
    border: 0.1rem solid #9987BD;
    background-color: whitesmoke;
    height: 2rem;
    width: 100%;
    min-width: 6rem;
    max-width: 15rem;
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
    display: block;
}

.btn {
    background-color: #3b3b3b;
    color: white;
    border: none;
    height: 2rem;
    width: 100%;
    max-width: 7rem;
    min-width: 4rem;
}

.btn:hover, .btn:focus {
    transition-duration: 0.5s;
    color: #9987BD;
    /* border: 0.1rem solid black; */
    transform: scale(1.03, 1.03);
}
/* END OF BASIC STYLING */

/* HEADER/FOOTER */
.rightContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    /* NOTE % helps spacing scale when window shrinks */
    padding: 2rem 5%;
    justify-content: end;
    text-align: end;
    font-size: 1rem;
}

.navLink {
    color: black;
    padding: 0 1rem;
}

.navLink:hover, .navLink:focus {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.currentPage {
    color: gray;
}

.footerName {
    font-size: 1rem;
    padding: 0 1rem;
    font-weight: bold;
}
/* END OF HEADER/FOOTER */

/* MAIN FLEXBOX */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    max-width: 70rem;
    margin: 0 auto;
}

.containerItem {
    flex: 1;
    min-width: 25%;
    max-width: 20rem;
    margin: 1rem;
    padding: 1rem;
}
/* END OF MAIN FLEXBOX */

/* STYLEGUIDE STRUCTURE */
.styleGuideBorder {
    border: 0.25rem solid #9987BD;
}

.darkBackground {
    background-color: #3b3b3b;
    color: white;
}
/* END OF STYLEGUIDE STRUCTURE */